<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Game</title>
	<link rel="stylesheet" type="text/css" href="./style/bootstrap.min.css">
	<style>
		body {
			padding-top: 60px;
		}
	</style>
	<link rel="stylesheet" type="text/css" href="./style/bootstrap-responsive.css">
</head>
<body data-spy="scroll" data-target=".subnav" data-offset="50">
	<%- partial('index/'+part) %>
	<script src="./js/extra/jquery.js"></script>
	<script src="./js/extra/bootstrap.min.js"></script>
</body>
</html>
